* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  justify-content: space-between s;
  align-content: space-between;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: flex-start;
}
.bar {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
